@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  box-sizing: border-box;
  color: #220f5f;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 70px;
}

.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
  color: rgba(9, 135, 135, 0.8);
}

table {
  border-collapse: collapse;
  width: 100%;
}
tr th {
  font-size: 18px;
  padding: 12px;
  border: 1px solid rgba(9, 122, 100, 0.7);
  text-align: left;
  background-color: rgba(9, 122, 100, 0.3);
}

tr td {
  border: 1px solid rgba(9, 122, 100, 0.7);
  text-align: left;
}
input {
  font-size: 16px;
  background-color: grey;
  border: none;
  width: 91%;
  padding: 12px 12px;
  font-family: "Poppins", sans-serif;
}

input:hover {
  background-color: whitesmoke;
}

input:focus {
  outline: 1px solid #ccc;
  border: 1px solid #ccc;
}

.footer-p {
  background-color: rgba(9, 122, 100, 0.7);
  padding: auto;
  margin: auto;
}
